MyProjects/WifiProject/WifiProvider/Service References/WifiService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSecurityCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AFQ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LangCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSecurityCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Evidence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AFQ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LangCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectUS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientEvidence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderEvidence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AFQ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LangCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectUSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectUSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientUsageMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProviderUsageMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConnectionID" type="xs:long" />
        <xs:element minOccurs="0" name="AFQ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LangCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUsageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AFQ" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LangCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResetPasswordCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LangCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AFQ" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResetPasswordCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResetPasswordCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>